@import url("fonts.css");
@import url("reset.css");
body{
	font-family: 'Mariupol', cursive;
	background-color: rgb(210, 211, 220);
	text-align: center;
}
h2{
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 20px;
}
.design__elements,
.сontent__icons
{
	margin-bottom: 50px;
}

[class*="--img"]{
	max-width: 60%;
	box-shadow:  0px 0px 20px 0px #000;
	border: 2px solid #000;
	margin: 0 auto;
	padding: 20px;

}
p{
	font-size: 18px;
	text-align:start;
	padding-bottom: 20px;
}
.phone{
	width: 45px;
	border-radius: 50px;
	background-color: #3056D3;
	padding: 12px;
}
.speed,
.fully,
.regular,
.components,
.tailwind,
.refreshing {
	width: 70px;
	height: 70px;
	border-radius: 10px;
	background-color: #3056D3;
	padding: 17px;
}
.content__images img{
	border-radius: 15px;
}
