@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");


body{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}
h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
}
h3:hover{
	color: #000;
text-decoration: underline;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex; /*притискає підвал до низу*/
	flex-direction: column; /*притискає підвал до низу*/
}
.wrapper>main{
	flex-grow: 1; /*притискає підвал до низу*/
}
[class*='__container']{
	padding-top: 50px;
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.room__header {/*
	margin-bottom: 100px;*/
	margin-bottom: 8.3300813%;
}
.header-room__title {
	color: #000;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
	text-align: center;/*
	margin-bottom: 40px;*/
	margin-bottom: 3.33203252%;
}
.header-room__subtitle {
	color: #000;
	max-width: 518px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;/*
	padding-bottom: 53px;*/
	padding-bottom: 4.4089430%;
	margin: 0 auto;
}

.room__articles{
	display: flex;
	column-gap: 32px;/*
	margin-bottom: 81px;*/
	margin-bottom: 6.75536585%;
}
.colums-project__text {
	flex-grow: 1;
}
.colums-project__footer{
	display: flex;
	column-gap: 80px;
}
.colums-project-link{
	transition: all 8s;
}
.colums-project-link a:hover{
	text-decoration: underline;
}
.content-room__colums {
	flex: 0 1 48.666%;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.desing-room__title {
	margin-bottom: 16px;
}
.content-room__colums p:not(:last-child){
	margin-bottom: 38px;
}
.desing-colums__text {
	font-weight: 400;
}
.room__gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}
.content-room__column{
	flex: 0 1 48.666%;
}
.content-room__picture {
position: relative;
padding-bottom: 87.8424658%;
}
.content-room__picture img{
	position: absolute;
	top: 0;
	left: 0;/*
	width: 100%;*/
	height: 100%;
	object-fit: cover;
}

[class*='__picture'] img{
	max-width: 100%;
}
.content-room__picture--hundred {
	flex: 0 1 100%;
}

/*---------services------------*/
.services__title {
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5;
	padding-bottom: 40px;
}
.services__title::after{
	content: '';
	width: 464px;
	border-top: 2px solid #000;
	height: 2px;
	display: inline-block;
	vertical-align: middle;
}

.services__columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;/*
	margin: 0 -15px;*/
}
.services__columns:not(:last-child){
	margin-bottom: 40px;
}
.card-service__picture {
	flex: 0 1 62.17%;
	overflow: hidden;
}

.card-service__picture img{
	max-width: 100%;
	/*padding: 0 15px; /*!не варто було зображенню вказувати padding а то hover не дуже гарно працює*/
	transition: all 0.8s;
}

.card-service__picture img:hover{
	transform: scale(1.05);
	
}
.card-service__title{
	transition: all 0.6s;
}

.card-service__desing {
	flex: 0 1 27.83%;
	/*flex-grow: 0 ;можливість елемента збільшуватись*/
	/*flex-shrink: 1;можливість зменшуватись у розмірі*/
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-self: center;
}
.card-service__text p:not(:last-child) {
margin-bottom: 10px;
}

/*-----------forms----------*/
.checkout__container {
	max-width: 670px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}/*
.header {
	padding: 25px 0;
}
.header__container {
	margin-bottom: 25px;
	
}
.header__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 1.25;
	color: #212B36;
	margin-bottom: 8px;
	
}
.header__subtitle {
	font-weight: 500;
}*/
/*****блок 1*****/

.checkout__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.25;
	color: #212B36;/*
	margin-bottom: 30px;*/
	margin-bottom: 5.25049505%;
}
.checkout__form {
	padding-bottom: 5.224%;
	margin-bottom: 17.355%;
border-bottom: 2px solid #637381;
}
.form-checkout {
}
.form-checkout__block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;
	margin-bottom: 35px;
}
.form-checkout__item {
	flex: 0 1 48%;

}
.form-checkout__item input, select, textarea{
	width: 100%;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
	padding: 15px 25px;/*
	font-size: 50px;*/
	font-weight: 500;
	font-size: 16px;
	color: #637381;
}
.input {
}

.form-checkout__item--percent100{
	flex: 0 1 100%;
}

.form-checkout__area {
	width: 100%;
	height: 180px;
	resize: vertical;
	}
.form-checkout__box{
	margin-bottom: 55px;
}
.form-checkout__line {
	position: relative;
}
.form-checkout__line:not(:last-child) {
	margin-bottom: 25px;

}


.form-checkout__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.form-checkout__input:focus + .form-checkout__label {
	outline: 2px solid #000;
}
.form-checkout__input:checked + .form-checkout__label::before{
	background: url(../img/bird.svg) center no-repeat;

}
.form-checkout__input--chk {
	
}
.form-checkout__label {
	cursor: pointer;
	display: inline-flex;
	align-items: flex-start;
	gap: 15px;
	flex-wrap: wrap;
}

.form-checkout__label::before{
	content: '';
	flex: 0 0 22px;
	width: 22px;
	height: 22px;
	border: 0.7px solid #E7E7E7;
	border-radius: 4px;
}
.form-checkout__apply h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}
.form-checkout__coupon {
	margin-bottom: 30px;
}
.coupon-code {
}
.coupon-code__input {
	max-width: 325px;
	padding: 12px 22px;
	margin-right: 20px;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
}
.coupon-code__button,
.form-checkout__send {
	background: #212B36;
	border-radius: 5px;
	color: #fff;
	padding: 12px 22px;
}
.coupon-code__button:focus{
	background: #000;
}
.form-checkout__send{
	max-width: 200px;
}
/***Блок 2***/
.saddress-form {
	max-width: 606px;
	margin: 0 auto;
}
.form-address {
	font-family: 'Roboto' , sans-serif;

	line-height:1.25;
	or: #3F3F3F;
}
.form-address__title {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 2.83;
	color: #000000;
	padding: 34px 0;
}
.address-contacts__wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	flex: 0 1 100%;
	gap: 24px;
}

.form-address__line,
.address-contacts__line {
	display: flex;
	flex-wrap: wrap;

	column-gap: 5px;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 24px;
}
.form-address__label,
.address-contacts__label {/*
	flex: 0 1 25,57425745%;*/
}

.form-address__input,
.address-contacts__input {
	flex: 0 1 74.42574255%;
	border: 1px solid #C4C4C4;
	padding: 14px 16px;
}
.form-address__input:focus,
.address-contacts__input:focus{
	outline: 2px solid #C4C4C4;
}
.form-address__text {
	font-size: 14px;
	line-height: 1.43;
	color: #828282;
	margin-bottom: 27px;
}
.form-address__button {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	padding: 22px 43px;
	transition: all 0.3s;
}
.form-address__button--white{
	color: #828282;
	background-color: #fff;
	border: 1px solid transparent; /**чтоб при hover не зміщувалась кнопка*/
}
.form-address__button--white:hover{
	border: 1px solid #828282;
}
.form-address__button--black:hover{
	background-color:  #EB5757;
}
.form-address__link{
	display: inline-block;
	font-size: 14px;
	line-height: 1.43;
	color: #0F6DB1;
	margin-left: 25px;
}
.form-address__link:hover{
text-decoration: underline;
}
.form-address__sing{
	border-bottom: 1px solid #C4C4C4;;
	padding-bottom: 36px;
	margin-bottom: 39px;
}
.address-contacts {
}
.address-contacts__line {
}
.address-contacts__label span,
.form-address__label span{
	color: #EB5757;
}
.address-contacts__input {
}
.address-contacts__title {
}
.contacts-radio {
	max-width: 443px;
	margin-bottom: 30px;

}
.contacts-radio__item {
	display: flex;
	position: relative;
	padding: 9px 0 ;
}
.contacts-radio::before{
	content: '';
	display: block;
	width: 606px;
	height: 1px;
	background-color: #C4C4C4;
}
.contacts-radio::after{

	content: '';
	display: block;
	
	width: 443px;
	height: 1px;
	background-color: #C4C4C4;
}
.contacts-radio__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.contacts-radio__input:checked+.contacts-radio__label::before{
	width: 10px;
height: 10px;
	border: 3px solid #000000;
}
.contacts-radio__input:hover+.contacts-radio__label::before {
	border: 1px solid #3F3F3F;
}

.contacts-radio__label{
	flex: 0 1 33.333%;
display: inline-flex;
align-items: flex-start;
gap: 13px;
flex-wrap: wrap;
	}
.contacts-radio__label::before {
	content: '';
	flex: 0 0 10px;
	width: 10px;
	height: 10px;
	border: 1px solid #828282;
	border-radius: 50%;
}

.contacts-radio__text {
	flex: 0 1 33.333%;
}

.form-address--button{
	display: flex;
	justify-content: space-between;
}


/*---@media-----*/
@media(max-width:1228.98px){
.room__gallery{
	gap: 15px;
}
}

@media(max-width:767.98px){
	body{
		font-size: 14px;
	line-height: 1.6;
	}
	.header-room__title{
		font-size: 46px;
	}
	.room__articles{
		flex-wrap: wrap;
		row-gap: 24px;
	}
	.content-room__colums {
		flex: 0 1 100%;
		row-gap: 14px;
		}

	.content-room__column {
		flex: 0 1 100%;
	
}
.card-service__picture {
	flex: 0 1 100%;
}
.card-service__desing {
	flex: 0 1 100%;
}
.services__title::after {
	width: 363px;
}
}
@media (max-width: 521.98px){
	.services__title::after {
		display: none;
	}
}
@media (max-width: 479.98px) {
	.header-room__title{
		font-size: 46px;
	}
	.header-room__subtitle{
		font-size: 16px;
	}
	.form-checkout__item{
		flex: 0 1 100%;
	}
	
}
@media (max-width: 428.98px) {
	.header-room__title{
		font-size: 36px;
	}
	.header-room__subtitle{
		font-size: 14px;
	}
	
}