/* Title */
.title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #F8F9FA;
}
.topic-main__title-section {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
}
/* ------------------- */
