
@use "sass:math";
@import "_reset.scss";
//@import "_base.scss";
@import "_mixins.scss";
@import "_common.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet');

/* ------------------- */
body{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
font-size: 18px;
line-height: 1.5; /* 27/18 */
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex; //притискає підвал до низу
	flex-direction: column; //притискає підвал до низу
}
.wrapper>main{
	flex-grow: 1; //притискає підвал до низу
}
//---------------------------
[class*='__container']{
	max-width: 1908px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
//------main-------------
//---------chose your brand
.main {

		&__brand {
			padding: 28px 12px;
		}
}
.brand-menu {
	border: 2px solid #C4C4C4;
margin-bottom: 30px;
		&__title {
			font-weight: 400;
			font-size: 24px;
			line-height: 2.83;
		text-transform: uppercase;
			text-align: center;
			max-width: 370px;
			padding: 0 93px;
			@media (max-width: 425.98px) {
				padding: 0 60px;
			}
			@media (max-width: 360.98px) {
				padding: 0 30px;
			}
			
		}

		&__list {
			display: flex;
			justify-content: space-between;
			gap: 2.1rem;
			//flex-wrap: wrap;
			text-align: center;//вирівнює текст по горизонталі
			align-items: end; //притискає елементи до низу
		
		@media (max-width: 1200.98px) {
			flex-wrap: wrap;
			row-gap: 10px;
			padding: 20px 0;
		}
		@media (max-width: 560.98px) {
			justify-content: center;
		}
		@media (max-width: 425.98px) {
			
			padding: 5px 0;
		}
		}

		&__link {
			flex: 0 1 235px;
			//flex: 0 0 12.513312%; /* 235/1878 */
			padding: 56px 0;
			transition: background-color 0.4s;
			@media (any-hover: hover){
			&:hover{
				background-color: #F0F2F2;
			}
		}
			@media (max-width: 1200.98px) {
			
				padding: 30px 0;
			}
			@media (max-width: 455.98px) {
				flex: 0 1 100%;
				
			}
			
		}
		
	
}

//---------------------choose

.page {

	&__choose {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		margin-bottom: 30px;
		@media (max-width: 1400.98px) {
			gap: 15px;
		}
		@media (max-width: 1017.98px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.choose {

	&__block {
	}
	&__block--right{
	justify-content: flex-end;
	align-items: center;
	padding-right: 10.064%;
	@media (max-width: 1653.98px) {
		padding-right: 20px;
	}
	@media (max-width: 703.98px) {
		background-color:  #C4C4C4;
	}
	}
	&__block--left{
		justify-content: flex-start;
		align-items: center;
			padding-left: 10.064%;
			@media (max-width: 1352.98px) {
				padding-left: 5.064%;
			}
			@media (max-width: 703.98px) {
				background-color:  #F7E0D5;
			}
		}
		
	&__block--2row {
		grid-row: span 2;
		justify-content: flex-start;
		align-items: flex-end;
		padding: 0px 0px 11.33% 9.45%;
		//padding: 0px 0px 103px 86px;
		@media (max-width: 1653.98px) {
			padding: 25px;
		}
		@media (max-width: 1391.98px) {
			//grid-row: span 1;
			padding: 0px 0px 11.33% 9.45%;
		}
		@media (max-width: 703.98px) {
			background-color:  #E0DED3
			;
		}
	}
}
.block-choose {
	position: relative;
	display: flex;
	@media (max-width: 620.98px) {
	justify-content: center;
	text-align: center;
	padding: 25px 0;
	}



	&__img {
			padding-bottom: 46.969697%; /* 434/924 */
		
	
		& img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			//vertical-align: top;
		}
		@media (max-width: 620.98px) {
			display: none;

		}
	}

	&__items {
//position: relative;
z-index: 2;
	max-width: 369px;
@media (max-width: 1434.98px) {
	max-width: 280px;
}
	}

	&__tetle {
		font-weight: 600;
font-size: 48px;
line-height: 1.29; 
text-transform: uppercase;
margin-bottom: 7px;
@media (max-width: 1653.98px) {
	font-size: 40px;
}
	}

	&__subtitle {
		font-family: 'Roboto Light';
font-size: 22px;
line-height: 1.68;
letter-spacing: 0.01em;
margin-bottom: 51px;
@media (max-width:1435.98px) {
	margin-bottom:20px;
}
	}

	&__button {
	

	}


	&__img--2row {
		padding-bottom: 97.081081%; /* 898/925 */
		@media (max-width: 1391.98px) {
			//padding-bottom: 46.969697%; /* 434/924 */
		}
	}
	&__tetle--2row {
		font-size: 96px;
		line-height: 1.15;
		max-width: 357px;
		@media (max-width: 1453.98px) {
			font-size: 76px;
			max-width: 280px;
		}
		@media (max-width: 815.98px) {
			font-size: 56px;
			
		}
	}
	
	&__items--right {
		
	}
	&__items--left {
	}
}
//---------Shop Some Wear:
.page {

	&__gallery {
		display: flex;
		margin-bottom: 63px;
		@media (max-width: 768.98px) {
			flex-wrap: wrap;
		justify-content: center;
		}
	}
}
.gallery {

	&__sidebar {
		flex: 0 1 21%;
		@media (max-width: 768.98px) {
			flex: 0 1 auto;
		}
	}

	&__collection {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 26px;
		row-gap: 48px;
		padding-left: 30px;
		border-left: 1px solid #C4C4C4;
		flex: 0 1 79%;
		@media (max-width: 768.98px) {
			grid-template-columns: repeat(2, 1fr); 
			column-gap: 15px;
			flex: 0 1 100%;
			padding: 0px 15px;
		}
		@media (max-width: 425.98px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__card {
	}
}
.gallery-sidebar {
}
.gallery-sidebar {

	&__title {
		font-weight: 400;
	font-size: 24px;
	margin-bottom: 31px;
	}

	&__nav {
		font-weight: 400;
font-size: 14px;
text-transform: uppercase;
}
}
.nav {
	
	&__form {
		position: relative;
		margin-bottom: 20px;
	}
	&__input{
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
		}
		.nav__input:checked + .nav__label::before {
			background: url(../img/svg/mark.svg) center/8px no-repeat #000;
		 }
	&__label {
		cursor: pointer;
	display: inline-flex;
	align-items: flex-start;
	gap: 9px;
	align-items: center;
		&::before {
		content: "";
		flex: 0 0 10px;
		width: 10px;
		height: 10px;
		border: 1px solid #828282;
	}
	@media (any-hover: hover){
	&:hover{
		color: #3F3F3F;
	}
	}
	}
}

//----------shoping without limits------
.main {

	&__shoping {
		margin-bottom: 4.100106%; /* 77/1878 */
		padding: 4.100106% 14.802982%; /* 278/1878 */
		//padding: 77px 278px;
		@media (max-width: 1114.98px) {
			padding: 25px 120px;
		}
		@media (max-width: 917.98px) {
			padding: 15px 80px;
		}
		@media (max-width: 683.98px) {
			padding: 10px 30px;
		}
	}
}
.shoping {
	position: relative;
display: flex;
//align-items: center;
@media (max-width: 585.98px) {
	background-color: #DDEBF1;
}


	&__img {
	
		padding-bottom: 24.86688%; /* 467/1878 */
	
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			object-fit: contain;
			object-position: right;
			opacity: 0.4;
			@media (max-width: 585.98px) {
				opacity: 0;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 70%;
			//width:74.8125rem;
			height: 100%;
			background: linear-gradient(90deg, #DDEBF1 0%, #D3E5EE 42.71%, #C8DEEC 69.27%, rgba(255, 255, 255, 0) 100%);
			}
		
	}

	&__block {
	
z-index: 2;
	
	}
}
//----------Featured Items
.page {

	&__featured {
	}
}
.popular,
.featured {
	margin-bottom: 79px;

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__title {

	}

	&__arrows {
	}

	&__arrow {
		display: inline-block;
		border: 2px solid #C4C4C4;
		background: url(../img/svg/arrow.svg) center no-repeat; 
		padding: 16px;
		@media (any-hover: hover){
			&:hover{
			border: 2px solid #828282;
		}
		}
	}

	&__arrow--left {
		transform: rotate(180deg);
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 31px;
		@media (max-width: 768.98px) {
			grid-template-columns: repeat(3, 1fr); 
			column-gap: 15px;
			
		}
		@media (max-width: 508.98px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 425.98px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__card {
	}
}

//-----EXPLORE THE BEST OF YOU-----
.main {

	&__best {
		margin-bottom: 82px;
	}
}
.best {
	display: flex;

	&__img {
		flex: 0 1 56.443024%; /* 1060/1878 */
		position: relative;
		padding-bottom: 19.329073%; /* 363/1878 */
		margin-right: 5.218317%; /* 98/1878 */
		& img {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__block {

	}
}
.block-best {
	flex: 0 1 43.556976%;
	z-index: 2;

	&__title {
	}

	&__text {
	}

	&__button {
	}
}
//---------Blog----------
.page {

	&__blog {
	}
}
.blog {
	background-color: #F8F9FB;
	padding: 46px 0;

	&__container {
	}

	&__titele {
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		@media (max-width: 1100.98px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 768.98px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 503.98px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__card-box {
		background-color: #FFFFFF;
		padding: 24px;
		min-height: 420px;
		border: 2px solid #fff;
		@media (any-hover: hover){
		&:hover{
			border: 2px solid #828282;
			box-shadow: 2px 2px 2px 1px #828282;
		}
		}
	}
}
.box-card {
	display: flex;
	flex-direction: column;

	&__name {
		margin-bottom: 21px;
	}

	&__title {
		font-weight: 400;
font-size: 26px;
line-height: 1.5;
margin-bottom: 32px;
	}
	p {
		font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.01em;
padding-bottom: 10px;
flex-grow: 1;
	}

	&__date {
		font-weight: 300;
	font-size: 13px;
	line-height: 2.85;
	color: #4F4F4F;
	border-top: 3px solid #000000;
	}
}













