@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body{
	font-family: 'Poppins', sans-serif;

}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex; /*притискає підвал до низу*/
	flex-direction: column; /*притискає підвал до низу*/
}
.wrapper>main{
	flex-grow: 1; /*притискає підвал до низу*/
}
.main {
}
.main__container {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 50px;
}
.content {
}
.content__categories {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: #495057;
	align-items: center;
	margin-bottom: 44px;
}
.categories {
}
.categories__item::after {
	content: '+';/*?подумати як вирівняти*/
}
.categories__column {
	display: flex;
	gap: 20px;
}
.content__cards {
	display: flex;
	margin: 0px -15px  /*?*/;
	flex-wrap: wrap;
}
.cards__box{
	position: relative;
	/*flex: 0 1 33.333%;*/
	flex-grow: 0;/*можливість елемента збільшуватись*/
	flex-shrink: 0;/*можливість зменшуватись у розмірі*/
	flex-basis: 33.333%; /*розмір*/
	padding: 0px 15px;
}
.cards__creative{
	position: absolute;
	top: 30px;
	right: 45px;
	font-weight: 700;
	font-size: 8px;
	line-height: 2.5;
	color: #F8F9FA;
	background-color: rgba(33, 37, 41, 0.3);
	border-radius: 3px;
	padding: 2px 13px;
	transition: background-color 0.3s;
	z-index: 2;
}
.cards__creative:active,
.cards__creative:hover{
	background-color: rgba(33, 37, 41, 0.682);
}
.item-cards{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
	min-height: 100%;
}

.item-cards__img{
	overflow: hidden;
}
.item-cards__img img{
	max-width: 100%;
	transition: 0.8s;
}

.item-cards__img img:hover{
	transform: scale(1.1);
	overflow: hidden;
}
.item-cards__date {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.67;
	color: #495057;
}
.item-cards__titel {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
}
.item-cards__titel:hover{
	color: #CCD5AE;
	transition: 0.3s;
}
.item-cards__text {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.67;
	color: #495057;
	flex-grow: 1;
	border-bottom: 1px solid;
	padding-bottom: 15px;
}
.item-cards__author {
	flex-basis: 100px;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.67;
	color: #495057;
}
.item-cards__author a{
	display: inline-block;
	transition: 0.3s;
}
.item-cards__author:hover a{
	text-decoration: underline;
	color: #CCD5AE;
}
.item-cards__author span{
	vertical-align: top;
}
.main__button{
	text-align: center;
}
.button__item{
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: #F8F9FA;
	padding: 8px 50px;
	background: #212529;
	border-radius: 3px;
}

/*-----flex----*/
.flex{

}
h2{
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}
h3{
	font-size: 24px;
}
[class*='flex__']{
	display: flex;
	background-color: #e9d8a6;
	border: 5px solid #ee9b00;
	margin-bottom: 20px;
}
[class*='flex__'] div{
	background-color: #94d2bd;
	min-width: 100px;
	min-height: 100px;
	border: 5px solid #0a9396;
	font-size: 20px;
	text-align: center;
	padding-top: 35px;
}
.flex__display-flex{
display: flex;
}
.flex__display-inline-flex{
	display: inline-flex;
}
/*---переміщення елементів на наступний рядок---*/
.flex__nowrap {
	width: 409px;

	flex-wrap:nowrap;
}
.flex__wrap {
	width: 209px;

	flex-wrap: wrap;
}
.flex__wrap-reverse {
	width: 150px;

	flex-wrap: wrap-reverse;
}
/*----встановлює основну вісь---*/
.flex__row-reverse {

	flex-direction:row-reverse;
}
.flex__column {

flex-direction:column;
}
.flex__column-reverse {

flex-direction:column-reverse;
}
/*----вирівнює вздовж основної вісь---*/
.flex__flex-end {

justify-content:flex-end;
}
.flex__center {

justify-content:center;
}
.flex__space-between {

justify-content:space-between;
}
.flex__pace-around {

justify-content:space-around;
}
.flex__space-evenly {
	
justify-content:space-evenly;
}
/*вирівнювання вздовж поперечної осі*/
.flex__stretch {
	height: 200px;

	align-items:stretch;
}
.flex__flex-start {
	height:200px;

align-items:flex-start;
}
.flex__flex-end {
	height:200px;

align-items:flex-end;
}

.flex__align-center {
	height:200px;
	
align-items:center;
}
.flex__baseline {
	height:200px;
	
align-items:baseline;
}
.flex__baseline div:nth-child(3) {
font-size: 50px;
}
/*ерує порядком,розташовування елементів*/
.flex__default {
	
}
.flex__order {

}
.flex__order div:nth-child(1) {
	order: 3;
}
.flex__order div:nth-child(2) {
	order: 4;
}
.flex__order div:nth-child(3) {
	order: 1;
}
.flex__order div:nth-child(4) {
	order: 2;
}
/*--перевизначає вирівнювання вздовж поперечної осі--*/
[class*='flex__self-']{
	display: flex;
	height: 200px;
}
.flex__self-start div:nth-child(even) {
	align-self:flex-start;
}
.flex__self-end  div:nth-child(even) {
	align-self:flex-end;
}
.flex__self-center div {
	align-self:center;
}
/*--базовий розмір елемента--*/
.flex__400px div:nth-child(even) {
	flex-basis:250px;
}
.flex__percent div:nth-child(even) {
	flex-basis:35%;
}
/*--можливість елемента збільшуватись --*/
.flex__grow div:nth-child(3){
	flex-grow:1;
}
.flex__allowed{
	width: 500px;
}
.flex__allowed div:nth-child(3) {
	
	flex-basis:200px;
}
.flex__forbidden{
	width: 300px;
}
.flex__forbidden div:nth-child(3){
	flex-basis:200px;
flex-shrink:0;
}
